@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:15px 80px;
    display: flex;
    align-items: center;
    z-index: 100;
    backdrop-filter:blur(99px);
}
.logo{
    font-size: 30px;
    color:white;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto;
}
nav a { 
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.userauth {
    margin-left: 40px;
}
.userauth .login-btn-model {
    height: 40px;
    padding: 0 35px;
    background: transparent ;
    border: 2px solid #fff;
    border-radius: 999px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}
.userauth .login-btn-model:hover {
    background: white;
    color: black;
}
section {
    min-height: 100vh;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 100px;
}
section h1{
    position: absolute;
    bottom: 20px;
    font-size: 30px;
    color: white;
    font-weight: 600;
}

.authmodel{
    position: fixed;
    width: 420px;
    height: 440px;
    background: rgba(0, 0, 0, .3);
    border: 2px solid rgb(142, 61, 219);
    border-radius: 15px;
    box-shadow: black;
    backdrop-filter: blur(5px);
    color: rgb(255, 255, 255);
    inset: 0;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content: center; 
}
.authmodel .form-boxlogin{
    width: 100%;
    padding:80px;
}
.form-boxlogin h2 {
    font-size: 35px;
    text-align:center;
}
.input-box{
    position:relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid lightslategrey;
    outline: none;
    border-radius: 40px ;
    font-size: medium;
    color: aliceblue;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: rgb(255, 255, 255);
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    /*to make the logo/the desing in the form to come to the middle*/
    font-size: 20px;
}
.login{
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px black;
    font-size: medium;
    color: black;
    font-weight: 600;
}
.form-boxlogin p{
    font-size: medium;
    text-align: center;
    margin: 25px 0 10px;
}
.form-boxlogin p a:hover{
    text-decoration: underline;
    background: white;
    colour:black
}